@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: black;
  color: white;
}

html.light {
  background-color: white;
  color: black;
}

/* Mặc định màu đen */
.apple-icon svg path {
  fill: #000; /* màu đen */
}

/* Khi ở dark mode, thay màu thành trắng */
.dark .apple-icon svg path {
  fill: #fff; /* màu trắng */
}
